.secondary.inactive {
  display: none;
}

.header {
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.results {
  padding-block: 2.5rem;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  max-width: 100%;
  flex-wrap: wrap;
}

.result {
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.number {
  font: 700 3rem/150% var(--ff-roboto-mono);
  color: var(--content-brand);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square {
  display: flex;
  background-color: transparent;
  width: 6.25rem;
  aspect-ratio: 1/1;
  border-radius: 1.75rem;
  align-items: center;
  justify-content: center;
  animation: 2s ease square;
}

.again {
  width: 100%;
  height: 3.5rem;
  background-color: var(--bg-tertiary);
  font: var(--label-medium);
  color: var(--content-primary);
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  transition: background-color 0.2s ease;
}

.again::before {
  opacity: 0;
  transition: opacity 0.2s ease;
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  background: var(--gradient-border);
  z-index: -1;
}

.again:hover {
  cursor: pointer;
  background-color: var(--bg-secondary);
  &::before {
    opacity: 1;
  }

  .refresh-arrow {
    transform-box: fill-box;
    transform-origin: center;
    animation: 1.5s infinite ease rotate;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes square {
  from {
    transform: rotate(0deg);
    background-color: var(--content-brand);
  }

  to {
    transform: rotate(360deg);
    background-color: transparent;
  }
}
