* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*CORES*/
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;

  --bg-primary: #020202;
  --bg-secondary: #111012;
  --bg-tertiary: #24222e;
  --bg-brand: #c58de7;
  --bg-gray: #3d3d3d;

  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0af;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  --gradient-border: linear-gradient(
    90deg,
    #77c0af 0%,
    #d1dc97 14.84%,
    #e9a9b3 32.15%,
    #d586e0 65.79%,
    #91a1fa 84.58%
  );

  --gradient-background: linear-gradient(90deg, #d586e0 0%, #91a1fa 98.93%);

  --gradient-content: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);

  /*FONTES*/
  --ff-sora: "Sora", sans-serif;
  --ff-roboto-mono: "Roboto Mono", sans-serif;
  --ff-roboto-flex: "Roboto Flex", sans-serif;

  --display-large: 800 4.5rem/130% var(--ff-sora);
  --display-medium: 800 2.5rem/130% var(--ff-sora);
  --display-small: 700 2rem/130% var(--ff-sora);

  --overline: 700 1rem/150% var(--ff-roboto-mono);

  --paragraph-large: 500 1rem/150% var(--ff-roboto-flex);
  --paragraph-medium: 500 0.875rem/150% var(--ff-roboto-flex);
  --paragraph-small: 500 0.75rem/150% var(--ff-roboto-flex);
  --label-large: 700 1.25rem/150% var(--ff-roboto-flex);
  --label-medium: 700 1rem/150% var(--ff-roboto-flex);
}

body {
  color: var(--content-primary);
  background-color: var(--bg-primary);
  background-image: url("/assets/bg-image.png");
  align-items: center;
  justify-content: center;
}

body::before {
  display: flex;
  position: absolute;
  z-index: -1;
  content: "";
  background-image: linear-gradient(180deg, #000000 50%, #00000000 100%);
  width: 100%;
  height: 100vh;
}

main {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  gap: 10%;
  width: 75%;
  margin: 0 auto;
  overflow: hidden;
  min-width: 350px;
}

.logo {
  position: absolute;
  top: 15%;
  left: 0;
}

.questions {
  width: 70%;
}

.main-container {
  display: flex;
  width: 100%;
  gap: 10%;
}

.container {
  width: 50%;
  margin-block: 2rem;
}

#dinamic-secondary {
  display: none;
}

aside {
  width: 50%;
  align-items: center;
  justify-content: center;
}

h1 {
  font: var(--display-large);
}

.question-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.warning {
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  opacity: 0;

  position: absolute;
  bottom: 10%;

  width: fit-content;
  max-width: 70%;
  height: auto;
  padding-block: 1rem;
  border-radius: 2rem;
  color: var(--content-primary);
  padding-inline: 1rem;

  p {
    color: var(--content-primary);
  }
}

.warning.error {
  background-color: red;
}

.warning.success {
  background-color: green;
}

.warning.active {
  display: flex;
  animation: 5s ease appear;
}

.holder {
  display: none;
}

.holder.active {
  display: flex;
}

#dinamic-primary.inactive {
  display: none;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (769px <= width <= 1110px) {
  .main-container {
    gap: 0;
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .questions {
    width: 100%;
  }

  .warning {
    max-width: 90%;
  }

  .message {
    width: 90%;
    text-wrap: wrap;
  }

  .results {
    padding-block: 0rem;
  }

  .logo {
    position: relative;
    padding-top: 2rem;
  }
}

@media (width <= 768px) {
  h1 {
    font: var(--display-medium);
  }

  .main-container {
    gap: 0;
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .questions {
    width: 100%;
  }

  .warning {
    max-width: 90%;
  }

  .message {
    width: 85%;
    text-wrap: wrap;
  }

  .results {
    padding-block: 0rem;
  }

  .logo {
    position: relative;
    padding-top: 2rem;
  }
}
